{% extends "base.html" %}

{% block title %}
<title>Password Manager</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/passwordmanager.css') }}">
{% endblock %}

{% block body %}
<section class="main-section">

    <div class="left-content">
        <div class="container">
            <input type="text" name="website" id="website" placeholder="enter the website">
            <input type="text" name="username" id="username" placeholder="enter the username">
            <input type="password" name="password" id="password" placeholder="enter the password">
            <textarea name="description" id="description" cols="30" rows="10" placeholder="description"></textarea>
            <input type="submit" value="submit" class="submit-button" id="submit">
        </div>
    </div>

    <div class="right-content">
        <div class="container">
            <form action="/decrypt_password" method="post">
                <input type="text" name="decrypt" id="decrypt" placeholder="decrypt" value="{{decrypt}}">
                <input type="submit" value="decrypt" class="submit-button" id="decrypt-button">
            </form>
        </div>
        <div class="container" id="generate-password-container">
            <!-- <input type="text" name="generate" id="generate" placeholder="click generate to new password"> -->
            <form action="/generate_password" method="post">
                <div class="password-copy-div">
                    <!-- <p class="generated-password" id="copy">passwords</p> -->
                    <input type="text" id="copy" value="{{password}}">
                    <div class="copy-button">
                        <img src="{{ url_for('static', filename='assets/copy.png') }}" alt="copy button" id="copy-button">
                    </div>
                </div>
                <input type="submit" value="generate new password" class="submit-button" id="generate-password">
            </form>
        </div>
    </div>

</section>

<!-- password manager -->
{% for i in detials %}
<article class="article">
    <div class="flex-class">
        <p class="title">{{ i[0] }}</p>
        <img src="{{ url_for('static', filename='assets/navigation/nav.png') }}" alt="navigation" class="navigation">
    </div>
    <div class="flex-class answer">
        <div class="flex-column-class">
            <div class="flex-class newline">
                <span><p>username: &nbsp;</p></span>
                <p>{{ i[1] }}</p>
            </div>
            <div class="flex-class newline">
                <span><p>password: &nbsp;</p></span>
                <p>{{ i[2] }}</p>
            </div>
            <div>
                <span><p style="margin-bottom: 0.5rem;">description: &nbsp;</p></span>
                <p>{{ i[3] }}</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='assets/navigation/trash.png') }}" alt="delete" class="delete">
    </div>
</article>
{% endfor %}

<!-- additional password managers to testing -->
<!-- <article class="article">
    <div class="flex-class">
        <p class="title">website</p>
        <img src="{{ url_for('static', filename='assets/navigation/nav.png') }}" alt="navigation" class="navigation">
    </div>
    <div class="flex-class answer">
        <div class="flex-column-class">
            <div class="flex-class">
                <span><p>username: </p></span>
                <p>username</p>
            </div>
            <div class="flex-class">
                <span><p>password:</p></span>
                <p>password</p>
            </div>
            <div>
                <span><p style="margin-bottom: 0.5rem;">description:</p></span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem eos dolorum accusantium ipsam ad distinctio quos quibusdam tempore quo voluptatem.</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='assets/navigation/trash.png') }}" alt="delete" class="delete">
    </div>
</article>

<article class="article">
    <div class="flex-class">
        <p class="title">website</p>
        <img src="{{ url_for('static', filename='assets/navigation/nav.png') }}" alt="navigation" class="navigation">
    </div>
    <div class="flex-class answer">
        <div class="flex-column-class">
            <div class="flex-class">
                <span><p>username: </p></span>
                <p>username</p>
            </div>
            <div class="flex-class">
                <span><p>password:</p></span>
                <p>password</p>
            </div>
            <div>
                <span><p style="margin-bottom: 0.5rem;">description:</p></span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem eos dolorum accusantium ipsam ad distinctio quos quibusdam tempore quo voluptatem.</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='assets/navigation/trash.png') }}" alt="delete" class="delete">
    </div>
</article> -->

{% endblock %}

{% block script %}

<script>
    const containers = document.querySelectorAll(".article");
    const nav = document.getElementById("main-images");
    const exit = document.getElementById("close");
    const copy = document.querySelector(".copy-button");
    const hide = document.getElementById("generate-password-container");
    hide.style.zIndex = 0;
    
    // website detials
    const website_name = document.querySelector("#website");
    const username = document.querySelector("#username");
    const password = document.querySelector("#password");
    const description = document.querySelector("#description");
    const decrypt = document.querySelector("#decrypt")

    // button detials
    const submit = document.getElementById("submit");
    const decryptBtn = document.querySelector("#decrypt-button");
    const generate_password = document.querySelector("#generate-password")


    // event listener for button clicks
    submit.addEventListener("click", function(){
        $.ajax({
                type: "POST",
                url: "{{ url_for('expansion_panel_detials') }}",
                data: {
                    "website_name": website_name.value,
                    "username": username.value,
                    "password": password.value,
                    "description": description.value
                }
        })
    })

    // decryptBtn.addEventListener("click", function(){
    //     $.ajax({
    //             type: "POST",
    //             url: "{{ url_for('decrypt_password') }}",
    //             data: {
    //                 "decrypt": decrypt.value
    //             }
    //     })
    // })

    // generate_password.addEventListener("click", function(){
    //     $.ajax({
    //         type: "POST",
    //         url: "{{ url_for('generate_password') }}"
    //     })
    // })

    // website Expansion panel
    containers.forEach(function(container){
        const navigation = container.querySelector(".navigation");
        const answer = container.querySelector(".answer");
        const remove = container.querySelector(".delete");
        const title = container.querySelector(".title").textContent;
        navigation.addEventListener("click", function(){
            answer.classList.toggle("show-answer");
        })
        remove.addEventListener("click", function(){
            remove.parentElement.parentElement.classList.add("notshow");
            $.ajax({
                type: "POST",
                url: "{{ url_for('delete_from_manager') }}",
                data: {"url_name": title}
            })
        })
    })

    copy.addEventListener("click", function(){
        document.getElementById("copy").select();
        document.execCommand("copy");
        copy.classList.add("active");
        setTimeout(function(){
            copy.classList.remove("active");
        }, 2000);
    })

    nav.addEventListener("click", function(){
        let sidebar_opened = document.querySelector(".sidebar").classList.contains("show-sidebar");
        if (sidebar_opened){
            hide.style.zIndex = -10;
        }   
        else {
            hide.style.zIndex = 0;
        }
    })

    exit.addEventListener("click", function(){
        hide.style.zIndex = 0;
    })

</script>

{% endblock %}