.main-section {
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
    width: 75%;
    transition: var(--common-transition);
    gap: 1rem;
}

.left-content .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content .container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.right-content .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container input {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1.5px solid var(--secondary-color);
    font-size: 0.85rem;
    letter-spacing: 0.85px;
    color: black;
}

.container input:focus {
    outline: none;
    border: 1.5px solid var(--third-color);
}

.submit-button {
    background-color: var(--secondary-color);
    border: 1px solid aliceblue;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    transition: var(--common-transition);
}

.submit-button:hover {
    background-color: var(--third-color);
    border: 1.5px solid var(--third-color);
}

textarea {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1.5px solid var(--secondary-color);
    font-size: 0.85rem;
    letter-spacing: 0.85px;
    height: 5rem;
    color: black;
}

textarea:focus {
    outline: none;
    border: 1.5px solid var(--third-color);
}

.password-copy-div {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 0.75rem;
}

.password-copy-div input {
    width: 17rem;
}

#generated-password {
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.copy-button::before {
    position: absolute;
    content: "copied";
    top: -50px;
    background-color: var(--third-color);
    padding: 0.5rem;
    display: none;
    border-radius: 10rem;
    transition: var(--common-transition);
}

.copy-button::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -20px;
    display: none;
    transform: rotate(45deg);
    background: var(--third-color);
    transition: var(--common-transition);
}

.copy-button {
    padding: 0.5rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
    transition: var(--common-transition);
}

.active::after,
.active:before {
    display: block;
}

.copy-button:hover {
    background-color: var(--third-color);
}

#copy-button {
    width: 20px;
    height: 20px;
}

article {
    width: 35rem;
    margin: 1rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 1px 5px 0 rgb(198, 198, 198);
}

article img {
    width: 2rem;
    height: 2rem;
}

article .flex-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .flex-class span p {
    font-weight: bold;
}

article .flex-class .flex-column-class {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 2.5rem;
    text-align: justify;
}

article .answer {
    display: none;
}

article .show-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
}

article .newline {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.notshow {
    display: none;
}

@media only screen and (max-width: 900px) {
    .main-section {
        width: 83%;
    }
}

@media only screen and (max-width: 800px) {
    .main-section {
        width: 87%;
    }
}

@media only screen and (max-width: 750px) {
    .main-section {
        width: 95%;
    }
}

@media only screen and (max-width: 700px) {
    .main-section {
        width: 97.5%;
    }
}

@media only screen and (max-width: 680px) {
    .container input {
        width: 18rem;
    }
    .container textarea {
        width: 18rem;
    }
    .password-copy-div input {
        width: 15rem;
    }
}

@media only screen and (max-width: 600px) {
    .main-section {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    #generate-password-container {
        margin-top: 2rem;
    }
    article {
        width: 30rem;
    }
}

@media only screen and (max-width: 500px) {
    article {
        width: 25rem;
    }
    article .flex-column-class .flex-class {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

@media only screen and (max-width: 450px) {
    article {
        width: 22.5rem;
    }

    article .flex-class p {
        width: 12.5rem;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 400px) {
    article {
        width: 20rem;
    }

    article .flex-class p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 350px) {
    article {
        width: 17.5rem;
    }

    .container input {
        width: 17.5rem;
    }

    .container textarea {
        width: 17.5rem;
    }
    .password-copy-div input {
        width: 14rem;
    }
}